* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-1: rgb(245, 110, 110);
  --color-2:rgb(243, 239, 126);
  --color-3:rgb(151, 223, 135);
  --color-4:rgb(96, 152, 212);
  --ff: 'Akaya Kanadaka', cursive;
  --f-color: rgb(255, 255, 255);
  --shad: 0px 0px 15px 10px rgba(0,0,0,0.8);
  --shad-1: 0px 0px 20px -5px #000000;
  --rad: 2em;
}

body {
  width: 100%;
  height: 100vh;
  background: var(--color-2); 
  font-family: var(--ff);
  color: var(--f-color);
}